<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 유형 선택 | Your Company Name</title>
    <link rel="stylesheet" th:href="@{/css/classification.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
<div class="background"></div> <!-- 배경 영역 -->
<section class="home">
    <h1>Welcome to the <span>Billy</span></h1>
    <br>
    <br>
    <a class="btn btn-primary" th:href="@{/member/join}" style="text-align: center; text-decoration: none;">개인 Billy</a>
    <a class="btn btn-primary" th:href="@{/company/join}" style="text-align: center; text-decoration: none;">기업 Billy</a>
<!--    <a class="btn btn-primary" th:href="@{/member/join}" style="text-align: center; text-decoration: none;">개인 Billy</a>-->
<!--    <a class="btn btn-primary" th:href="@{/company/join}" style="text-align: center; text-decoration: none;">기업 Billy</a>-->
<!--    <button id="sign-up" class="btn">개인 Billy</button>-->
<!--    <button id="sign-in" class="btn">기업 Billy</button>-->
    <br>
    <br>
    <br>
    <p><a class="link-copy" href="#" target="_blank">©Copyright coocooHY2024</a></p>
</section>

<!--<section class="sign-up">-->
<!--    <article class="signup-left">-->
<!--        <h1>Billy</h1>-->
<!--        <div class="wc_message">-->
<!--            <h3>Let's Kick Now!</h3>-->
<!--            <p>It's Easy and takes less then 30 seconds.</p>-->
<!--        </div>-->
<!--        <div class="btn-back">-->
<!--            <i class="fas fa-2x fa-angle-left angle-left-color"></i>-->
<!--            coocooHy2024-->
<!--        </div>-->
<!--    </article>-->

<!--    <article class="form-area">-->
<!--        &lt;!&ndash; Form area Sign Up &ndash;&gt;-->
<!--        <div class="organize-form form-area-signup">-->
<!--            <h2>SIGN UP</h2>-->
<!--            <form class="form">-->
<!--                <div class="form-field">-->
<!--                    <label for="name">Name</label>-->
<!--                    <input type="text" id="name"/>-->
<!--                </div>-->

<!--                <div class="form-field">-->
<!--                    <label for="email">Email</label>-->
<!--                    <input type="text" id="email"/>-->
<!--                </div>-->

<!--                <div class="form-field">-->
<!--                    <label for="password">Password</label>-->
<!--                    <input type="text" id="password"/>-->
<!--                </div>-->

<!--                <button type="submit" class="btn-sign btn-up">Sign Up</button>-->
<!--            </form>-->
<!--            <p>Have an account? <a href="#" class="link-in">Sign In</a></p>-->

<!--        </div>-->

<!--        &lt;!&ndash; Form area Sign In &ndash;&gt;-->
<!--        <div class="organize-form form-area-signin">-->
<!--            <h2>SIGN IN</h2>-->
<!--            <form class="form">-->
<!--                <div class="form-field">-->
<!--                    <label for="email-in">Email</label>-->
<!--                    <input type="text" name="email_in" id="email-in"/>-->
<!--                </div>-->

<!--                <div class="form-field">-->
<!--                    <label for="password-in">Password</label>-->
<!--                    <input type="password" name="password_in" id="password-in"/>-->
<!--                </div>-->

<!--                <button type="submit" class="btn-sign btn-in">Sign In</button>-->
<!--            </form>-->
<!--            <p>Don't have an account? <a href="#" class="link-up">Sign Up</a></p>-->

<!--        </div>-->
<!--    </article>-->
<!--</section>-->

<!--<script th:src="@{/js/classification.js}"></script>-->

</body>
</html>
